@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/site.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/JQGridReq/jquery-1.9.0.min.js" type="text/javascript"></script>
<link href="~/JQGridReq/jquery-ui-1.9.2.custom.css" rel="stylesheet" type="text/css" />
<script src="~/JQGridReq/jquery.jqGrid.js" type="text/javascript"></script>
<link href="~/JQGridReq/ui.jqgrid.css" rel="stylesheet" type="text/css" />
<script src="~/JQGridReq/grid.locale-en.js" type="text/javascript"></script>
<table id="jQGridDemo">
</table>
<div id="jQGridDemoPager">
</div>

<script type="text/javascript">
     $(function () {
         var $starWarsCharacters = $('#jQGridDemo');
            $starWarsCharacters.jqGrid({
                url: '@Url.Action("GetEmployees", "Home")',
                editurl: '@Url.Action("EditEmployee", "Home")',
                datatype: 'json',
                mtype: 'POST',
                cmTemplate: { align: 'center' },
                colNames: ['', 'First Name', 'Last Name', 'Last 4 SSN', 'Department', 'Age', 'Salary', 'Marital Status', 'Permenant'],
                colModel: [
                    { formatter: 'actions', formatoptions: { keys: true, delOptions: { url: '@Url.Action("DeleteEmployee", "Home")' } }, resizable: false, width: 60, name: 'actions' },
                    { name: 'firstName', editable: true, editrules: { required: true } },
                    { name: 'lastName', sortable: false,  editable: true},
                    { name: 'lastSSN', editable: true },
                    { name: 'department', sortable: false, editable: true, edittype: 'select', formatter: 'select', edittype: 'select', editoptions: { value:  "IT:IT;Finance:Finance;REFM:REFM;Purchase:Purchase;Retail:Retail"  } },
                    { name: 'age', editable: true, editrules: { integer: true, minValue: 0 } },     //"IT:IT;Finance:Finance;REFM:REFM;Purchase:Purchase;Retail:Retail"
                    { name: 'salary', editable: true, editrules: { integer: true, minValue: 0 } },
                    { name: 'maritalStatus', sortable: false, editable: true, edittype: 'select', formatter: 'select', editoptions: { value:  "Married:Married;Single:Single;Divorced:Divorced" }  },
                    { name: 'permenant', sortable: false, editable: true, edittype: 'checkbox', editoptions: { value: "Yes:No" }, editrules: { required: true } }

                    ],
                caption: 'StarWars Characters',
                footerrow: true,
                userDataOnFooter: true,
                jsonReader: { repeatitems: false, id: 'id' },
                pager: $('#jQGridDemoPager'),
                rowNum: 10,
                sortname: 'id',
                sortorder: 'asc',
                viewrecords: true,
                height: '100%' //, editrules: { required: true, integer: true, minValue: 0 }
            })
                .jqGrid('navGrid', '#jQGridDemoPager', { add: false, edit: false, del: false, search: false })
                .jqGrid('inlineNav', '#jQGridDemoPager', { edit: false, addParams: { rowID: '-1' } })
            .bind('jqGridInlineSuccessSaveRow', demo.jqGrid.onJqGridInlineSuccessSaveRow)
            .bind('jqGridInlineAfterSaveRow', demo.jqGrid.onJqGridInlineAfterSaveRow);
        });

</script>